.footer {
  color: white;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 100px 0 80px;
}

.footer__logo {
  width: 153px;
  height: 32px;
}
.footer__social-heading {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
  
}

.footer__social-list-item:last-of-type {
  margin-bottom: 0;
  padding-top: 16px;
}

.footer__social-link {
  display: flex;
  gap: 10px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.footer__copyright {
  padding: 108px 0 60px 80px;
  line-height: 20px;
  margin: 0;
}
