.header {
  background-color: white;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}

.header__title {
  padding: 80px 0 0 80px;
  margin: 0;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__span-accent {
  display: block;
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  color: black;
}

.header__description {
  padding: 28px 0 0 80px;
  width: 680px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 600px;
}

.header__hours {
 position: absolute;
 bottom: 40px;
 left: 80px;
 color: #838383; 
}



.header__address {
  position: absolute;
  right: 80px;
  bottom:40px;
 
}

.header__paragraph {
  color: #838383;
  margin: 0;
}