.header {
  background-color: white;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}

.header__title {
  position: relative;
  padding: 80px 0 0 80px;
  margin: 0;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  color: black;
}

.header__description {
  position: relative;
  padding: 28px 0 0 80px;
  width: 680px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  z-index: 2;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 600px;
  z-index: 1;
}

.header__information {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.header__hours {
  margin-left: 80px;
}

.header__address {
  margin-right: 80px;
  display: flex;
  flex-direction: column-reverse;
}

.header__paragraph {
  color: #838383;
  margin: 0;
}
